{% extends 'base.html' %}

{% block titulo %}
Sobre Nosotros
{% endblock %}

{% block contenido %}
<div class="d-flex flex-column container">
  <h1 class="text-center text-white text-uppercase">Sobre Nosotros</h1>
  <h2 class="text-white"> Alumnos: <br> </h2>
</div>


<div class="m-4 container">
  <h2 class="text-white text-uppercase font-weight-bolder">Agustin Vigliocco:</h2>
  <h5 class="text-white font-italic lead">Mi nombre es Agustin Vigliocco, estoy estudiando Analista de Sistemas y
    actualmente en
    CoderHouse estoy por terminar la carrera de desarrollo FullStack. Ademas estoy terminando el curso de Python, con
    el cual desarrollamos este proyecto junto a mis compañeros. </h5>
</div>
<div class="m-4 container">
  <h2 class="text-white text-uppercase font-weight-bold">Ariel Botello:</h2>
  <h5 class="text-white font-italic">Tengo 28 años y soy Contador Público. Al no sentirme del todo cómodo con mi
    profesión decidí
    incursionar en el rubro IT y conocí CoderHouse. Terminé el curso de Data Analytics y seguí con Python como primer
    lenguaje. Si bien mi prioridad es seguir con ciencia de datos, puedo decir que aprendí sobre programación Backend
    con Django y esta es mi primer página web creada en conjunto con mi equipo :) </h5>
</div>

<div class="m-4 container text-dark">
  <h2 class="text-uppercase font-weight-bold">El proyecto:</h2>
  <h5 class="font-italic">El proyecto trata sobre una agencia de viajes donde podemos crear un itinerario de
    viajes y hospedaje en hoteles. Solo se podrá crear, modificar o eliminar informacion estando logueados en la APP.
    Sin el loguin solo se muestra los viajes y los hoteles. En el proyecto contamos con un <strong>NAVBAR</strong> donde
    tenemos acceso a las diferentes secciones: <br><br>
    1) <strong>VIAJES:</strong> donde se listan los viajes creados <br>
    2) <strong>CREAR VIAJE:</strong> un formulario con diferentes campos de informacion a llenar, creando una vista con
    la informacion cargada que se puede visualizar en la seccion VIAJES.<br>
    3)<strong>HOTELES:</strong> Una seccion utilizando funciones CRUD para poder crear, modificar o eliminar hoteles
    cada uno con su propia imagen y descripcion.<br>
    4)<strong>SOBRE NOSOTROS:</strong> Una seccion donde hablamos de cada uno de los integrantes del grupo y describimos
    la idea del proyecto.<br>
    5)<strong>INGRESAR:</strong> En esta seccion podemos realizar el log in con nuestra cuenta de usuario. Necesaria
    para poder acceder a las secciones: CREAR VIAJE, HOTELES (para poder modificar,agregar o eliminar algun hotel)<br>
    6)<strong>REGISTRARME:</strong> En esta seccion podemos registrarnos en caso de no contar con una cuenta de usuario.
    Necesaria para poder acceder a las secciones: CREAR VIAJE, HOTELES (para poder modificar,agregar o eliminar algun
    hotel) <br>
    7)<strong>CERRAR SESION:</strong> En esta seccion podemos cerrar la sesion actual</h5>

</div>

<img src=https://www.bkacontent.com/wp-content/uploads/2020/06/about-us.jpg class="card-img-top" alt="...">

{% endblock %}