{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<div class="d-flex flex-column">
  <h1 class="text-center text-white">AgArAl Viajes</h1>
  <h2 class="text-center text-white">{{message}}</h2>
  <h3 class="text-center text-white"> Este es un sitio donde podras encontrar los mejores viajes</h3>

</div>
<img src=https://wp-growpro.s3-eu-west-1.amazonaws.com/media/2020/08/viajes-para-aprender-ingles-1080x675.jpg
  class="card-img-top" alt="...">

{% endblock %}