{% extends 'base.html' %}

{% block titulo %}
Inicio
{% endblock %}

{% block contenido %}
<div class="d-flex flex-column">

  <h1 class="text-center text-white">AgArAl Viajes</h1>
  <h2 class="text-center text-white">{{message}}</h2>
  <h3 class="text-center text-white"> Este es un sitio donde podras encontrar los mejores viajes</h3>
  >>>>>>> refs/remotes/origin/main
</div>
<img src=https://st.depositphotos.com/1107016/1239/v/950/depositphotos_12390723-stock-illustration-airplane-travel.jpg
  class="card-img-top" alt="...">

{% endblock %}