{% extends 'base.html' %}

{% block titulo %}
Busca tu hotel
{% endblock %}

{% block contenido %}

<h1>Hoteles disponibles:</h1>

<div class="card">
   <div class="card-header">
      Lista de hoteles
   </div>
   <div class="card-body">
      <h4 class="card-title">Hoteles</h4>

      <table class="table">
         <thead>
            <tr>
               <th>ID</th>
               <th>HOTEL</th>
               <th>IMAGEN</th>
               <th>DESCRIPCION</th>
               <th>ACCIONES</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>1</td>
               <td>HOTELES</td>
               <td>IMAGEN.JPG</td>
               <td>UBICACION Y CANIDAD DE ESTRELLAS DEL HOTEL</td>
               <td>EDITAR | BORRAR</td>
            </tr>
         </tbody>
      </table>

   </div>
</div>


<!-- <table>
   {{form.as_table}}
</table> -->

{% endblock %}